  * {
    color: #333;
  }

  body {
    font-size: 16px;
  }

  .container {
    border: 1px solid #333;
    padding-left: 1rem;
  }

  table, tr, th, td {
    border: 1px solid #333;
    padding: 5px;
  }

  table {
    margin-top: 16px;
    margin-bottom: 16px;
  }
