* {
  margin: 0;
  padding: 0;
  font-family:"Trebuchet MS", Arial, sans-serif;
  font-size:14px;
}

body {
  width: 500px;
  margin: auto;
}

h1 {
  font-size: 23px;
  border-bottom: 1px solid #444;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.lobbyWaitShell {
  border: 1px solid #000066;
  border-radius: 15px;
  width: 69%;
  height: 160px;
  margin-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}

.lobbyWaitShell h2 {
  color: #222;
}

h2 {
  background: white;
  text-align: center;
  border-bottom: 1px solid darkBlue;
  width: 100%;
  margin: auto;
}

table, tr, td, th {
  font-family: monospace;
  padding: 5px;
  border: 1px solid #252525;
}

.leftSide {
  float: left;
  width: 60%;
}

#closed p {
  width: 65%;
  text-align: center;
  margin: auto;
  padding-top: 25px;
  font-size: 18px;
}

#closedCurrentTime p {
  text-align: center;
}

.rightSide {
  float: left;
  width: 31%;
  padding-left: 15px;
  padding-bottom: 13px;
  border-left: 1px solid #a0a0a0;
}

.rightSide h3 {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid black;
  font-size: 12px;
}

.rightSide p {
  margin: 10px 0 3px 0;
  font-size: 12px;
  font-weight: 400;
  color: black;
  color: #595959;
}

.rightSide li {
  list-style: none;
  font-size: 16.1px;
  color: #383838;
  font-family: monospace;
}

.tinyTime {
  font-size: 9px;
  color: #444;
}

.thin {
  font-size: 11px;
  color: #333;
  font-weight: bold;
}
#currentStudent {
  padding-left: 18px;
  line-height: 1;
  border-bottom: 1px solid #d0d0d0;
  padding-top: 0;
  padding-bottom: 1px;
  margin-top: 0;
  color: #222;
}

.bigNumber {
  font-size: 70px;
}

#nextStudent {
  float: left;
  width: 60%;
  padding-left: 15px;
  padding-bottom: 6px;
  margin-top: 5px;
  color: #444;
}

.mediumNumber {
  font-size: 35px;
}

.currentTime {
  border-top: 1px solid #999;
  padding-right: 10px;
  color: #333;
}

#closedParagraph {
   text-align: center;
   padding-top: 1px;
}

#asOfTime {
  text-align: right;
}

.tiny {
  font-size: 10px;
}

.light {
  color: #999;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.darkRed {
  color: #7a0d0d;
}

.clear {
  clear: both;
}
