body, p, h1, h2, h3, h4, h5, h6, li  {
  font-family : "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
}

@media print {
body {
  background: black;
  color: red;
  font-size: 30px;
}

h1 {
  font-size: 55px;
}

#boomba {
  font-size: 55px;
  color: red;
}

}
