/* h2 {
  float: left;
  background: red;
  width: 20%;
} */

h2 {
  background: #ffac5e;
  color: #1d369b;
  float: left;
  padding-left: 1rem;
  width: 38%;
  border-radius: 0 0 5px 0;
}

.rightColumn {
  width: 60%;
  float: right;
}

.rightColumn h3 {
  border-bottom: 1px solid orange;
  padding-bottom: .3rem;
}
